{% extends 'hod_templates/base_template.html' %}
{% block page_title %}
Manage Student
{% endblock page_title %}
{% block main_content %}
<style>
  .card-header {
    background-color: #004d40;
  }
  .card-title{
    color: white;
  }


</style>
    <!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Student Details</h3>

              <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Batch</th>
                    <th>Gender</th>
                    <th>Contact No.</th>
                    <th>Date of Birth</th>
                    <th>Profile Pic</th>
                    <th>Course Duration</th>
                    <th>Course</th>
                    <th>Course Fees</th>
                    <th>Amount Paid</th>
                    <th>Date of AmountPaid</th>
                    <th>Balance</th>
                    <th>Certificate Issued</th>
                    <th>Certificate Issued Date</th>

                    <th>Last Login</th>
                    <th>Date Joined</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                   {% for student in students %}
                  <tr>
                    <td>{{ student.admin.id }}</td>
                    <td>{{ student.date}}</td>
                    <td>{{ student.admin.first_name }}</td>
                    <td>{{ student.admin.last_name }}</td>
                    <td>{{ student.admin.username }}</td>
                    <td>{{ student.admin.email }}</td>
                    <td>{{ student.address }}</td>
                    <td>{{ student.batch }}</td>
                    <td>{{ student.gender }}</td>
                    <td>{{ student.contact }}</td>
                    <td>{{ student.dob }}</td>
                    <td><img src="{{ student.profile_pic }}" style="width:100px"/></td>
                    <td>{{ student.session_year_id.session_start_year}} TO {{ student.session_year_id.session_end_year}} </td>
                    <td>{{ student.course_id.course_name }}</td>
                    <td>{{ student.coursefees }}</td>
                    <td>{{ student.amountpaid }}</td>
                    <td>{{ student.date_ap }}</td>
                    <td>{{ student.balance }}</td>
                    <td>{{ student.cerificate_issue }}</td>
                    <td>{{ student.cerificate_issue_date }}</td>
                    <td>{{ student.admin.last_login }}</td>
                    <td>{{ student.admin.date_joined }}</td>
                    <td><a href="/edit_student/{{ student.admin.id }}" class="btn btn-success">Edit</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>



    
  </div>
</section>
<!-- /.content -->
{% endblock main_content %}